<IfModule mod_rewrite.c>
    RewriteEngine On

    # Impede que pastas reais ou arquivos reais quebrem o redirecionamento
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Redireciona tudo para a pasta public/ mantendo a URL limpa de forma relativa
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
