<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Se o arquivo ou pasta real não existir, joga tudo de forma limpa para a pasta public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
