<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Se o arquivo ou pasta física existir dentro de public (como css/js), entrega direto
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Caso contrário, processa o index mestre
    RewriteRule ^ index.php [L]
</IfModule>
